.idea/
allure-results/
api-common/allure-results/
api-common/api-tests.iml
api-common/target/
gui-common/target/
api-common/src/test/resources/local.conf
api-common/*.log
*.iml
swagger-coverage-output/
swagger-coverage/
ajcore.*
local.conf
api-common/swagger-coverage-output/
mobile-common/target/
